
.item__movie{
    .item-title {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
}
.items {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &:first-child {
        margin-left: 1.12rem;
    }
    a {
        color: #111;
    }
    .item-poster {
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
}
.row {
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 0 43px 0;
}
