/*搜索面板*/
.search-pannel{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    display: none;
    a{  
        display: block;
        text-align: center;
        margin-bottom: 25px;
        position: relative;
        // left: -50%;
        top: 0;
        &.close-nav {
            position: absolute;
            top: 20px;
            left: 18px;
            color: #42bd56;
            font-size: 16px;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 25px;
        overflow: hidden;
        display: -webkit-box;
        display: flex;
        justify-content: space-around;
    }
    li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 33.33%;
            strong {
                display: block;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
            }
            span{
                display: block;
                color: #999;
                height: 17px;
                font-size: 12px;
                letter-spacing: 1px;
            }
        
    }
    
    form{
        border-bottom: 1px solid #f3f3f3;
        padding: 15px 18px 15px 60px;
        input{
            box-sizing: border-box;
            -webkit-appearance: none;
            border: 0;
            background: url('../../images/nav/search.png') no-repeat 50% #f3f3f3;
            background-size: 17.33333px;
            border-radius: 3px;
            width: 100%;
            height: 31px;
            font-size: 14px;
        }
    }
}
.show-pannel{
    display: block;
}