section {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    &:first-child {
        padding-top: 10px;
    }
}
.items {
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.row {
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 0 43px 0;
    width:100%;
}
::-webkit-scrollbar{
  display:none;
}